[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

# 사용할 undo 테이블스페이스의 개수 (MySQL 8.0부터 지원)
innodb_undo_tablespaces = 4

# Undo 로그의 자동 축소를 활성화 (undo 테이블스페이스가 일정 크기를 넘으면 자동으로 축소)
innodb_undo_log_truncate = ON

# 개별 undo 로그의 최대 크기 (단위: 바이트) – 기본값은 환경에 따라 다를 수 있음
innodb_max_undo_log_size = 1073741824

host-cache-size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid
[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
